/libraries/
/assets/
/.idea/
/.obsidian/
/versions/Glacial_Age/.vscode/
/versions/Glacial_Age/kubejs/probe/
/versions/Glacial_Age/Glacial_Age-natives/
/versions/Glacial_Age/local/
/versions/Glacial_Age/logs/
/versions/Glacial_Age/mods/
/versions/Glacial_Age/PCL/
/versions/Glacial_Age/resourcepacks/
/versions/Glacial_Age/saves/
/versions/Glacial_Age/Glacial_Age.jar
/versions/Glacial_Age/Glacial_Age.json
/versions/Glacial_Age/rhino.local.properties
/versions/Glacial_Age/usercache.json
/versions/Glacial_Age/usernamecache.json
/launcher_profiles.json
/PCL.ini
/versions/Glacial_Age/kubejs/jsconfig.json
/versions/Glacial_Age/kubejs/README.txt
/versions/Glacial_Age/modernfix/
/versions/Glacial_Age/XaeroWaypoints_BACKUP240807/
/versions/Glacial_Age/xaero/
/versions/Glacial_Age/shaderpacks/
/versions/Glacial_Age/ldlib/
