/libraries/
/assets/
/.idea/
/.obsidian/
/versions/1.20.1-Forge_47.3.10/.vscode/
/versions/1.20.1-Forge_47.3.10/kubejs/probe/
/versions/1.20.1-Forge_47.3.10/1.20.1-Forge_47.3.10-natives/
/versions/1.20.1-Forge_47.3.10/local/
/versions/1.20.1-Forge_47.3.10/logs/
/versions/1.20.1-Forge_47.3.10/mods/
/versions/1.20.1-Forge_47.3.10/PCL/
/versions/1.20.1-Forge_47.3.10/resourcepacks/
/versions/1.20.1-Forge_47.3.10/saves/
/versions/1.20.1-Forge_47.3.10/1.20.1-Forge_47.3.10.jar
/versions/1.20.1-Forge_47.3.10/1.20.1-Forge_47.3.10.json
/versions/1.20.1-Forge_47.3.10/options.txt
/versions/1.20.1-Forge_47.3.10/rhino.local.properties
/versions/1.20.1-Forge_47.3.10/usercache.json
/versions/1.20.1-Forge_47.3.10/usernamecache.json
/launcher_profiles.json
/PCL.ini
/versions/1.20.1-Forge_47.3.10/kubejs/jsconfig.json
/versions/1.20.1-Forge_47.3.10/kubejs/README.txt
